h1 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  rgb(0, 0, 0);
    font-size: 4em;
}
h2 { font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(0, 0, 0);
font-size: 2em;
}

header { font-size: 15px ;}
body{ background-color: rgb(255, 255, 255);}

header { color: black;}

img {padding: 1em;}

nav ul li { list-style: none;
    display: inline-block;
    margin-right: 120px;
}

nav ul li a {text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;}

header { text-align: center;
    font-size: 20px;
    margin: 2em;}
h1 {text-align: center;}

p { text-align: center  }

h3 { text-align: center;
    font-size: 2em;

}

h2 { text-align: center;}

p { font-size: medium;}

h3 { font-size: xx-large;}

footer { background-color: rgb(200, 176, 146);
border-radius: 70%;}

.banner { 
    background-image:url(Images/achtergrond\ banner.jpeg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;}


.h3 { background-color: rgb(200, 176, 146);


}